*, *::before, *::after{
    box-sizing: border-box;
}
body{
    font-family: 'Inter', sans-serif;
    background-color: #23252C;
    height: 100%;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1,
h2,
h3,
h4,
h5,
h6{
    margin: 0;
}
.app{
    width: 550px;
    height: 900px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    overflow: hidden;
    color:white;
}
.info, .about, .interests{
    background-color: #1A1B21;
    width: 320px;
}
.info{
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}
.about{
    padding-top: 1.5rem;
}
.interests{
    padding-bottom: 1.5rem;
}
.footer{
    width: 320px;
    height: auto;
    background-color: #161619;
    padding: 1.2rem 4rem;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
    display: flex;
    justify-content: space-between;
}
.interests, .about{
    padding-inline: 2.75rem;
}
.profile-picture{
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    overflow: hidden;
    width: 100%;
    max-height: 400px;
    object-fit: cover;
    margin-bottom: 1rem;    
}
.name{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: .5rem;    
}
.title{
    text-align: center;
    font-size: .9rem;
    font-weight: 400;
    color: #F3BF99;
}
.btn-container{
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding-inline: 1rem;
    padding-block: .5rem;
}
.btn{
    margin-top: 1.5rem;
    width: 7.25rem;
    height: 2.25rem;
    padding: .5rem .8rem;
    border-radius: .5rem;
    outline: none;
    border: 1px solid transparent;
    cursor: pointer;

    font-family: 'Inter', sans-serif;
    text-align: center;
    text-decoration: none;
    font-weight: 600;
    font-size: 1rem;
    transition: 150ms ease-in-out;
}
.btn-email{
    color: gray;
    background-color: rgb(223, 223, 223);
}
.btn-email:hover{
    background-color: white;
}
.btn-linkedin{
    color: white;
    background-color: #4784ca;
}
.btn-linkedin:hover{
    background-color: #5093E2;
}
.subheading{
    font-weight: 700;
    font-size: 1.25rem;
    color: #F5F5F5;
}
.subtext{
    font-weight: 400;
    font-size: .7rem;
    color: #DCDCDC;
    line-height: .85rem;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
    padding-top: 0.5rem;
}